{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% if noData == true %}
        <p>Bisher liegen noch keine aktuellen Daten vor.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Heimmannschaft</th>
                    <th>Gastmannschaft</th>
                    <th>Ergebnis</th>
                </tr>
            </thead>
            <tbody>
                {% for game in meetings.meetingAbbr %}
                    {% if game.teamHomeClubNr == clubId OR game.teamGuestClubNr == clubId %}
                        <tr>
                            <td>{{ game.scheduled|date(D d.m.Y H:i) }}</td>
                            <td>{{ game.teamHome }}</td>
                            <td>{{ game.teamGuest }}</td>
                            <td>{% if (game.resultsAvailable) %}{{ game.matchesHome }}:{{ game.matchesGuest }} ({{ game.doubleMatchesHome }}:{{ game.doubleMatchesGuest }}){% endif %}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">{{ game.courtHallName }}, {{ game.location.city }}</td>
                            <td>{% if publishPdfEnabled == true %}<a href="{{ game.pdfUrl }}" target="_blank">Spielbericht</a>{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}